@model User



<div class="mb-3" >
    <table class="table table-sm table-striped table-bordered">
        <thead>
        <tr>
            <th>Имя</th>
            <th>Почта</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.Name</td>
                <td>@Model.Email</td>
            </tr>
        </tbody>
    </table>
    <h2>Заказы</h2>
    @if(Model.Orders.Count==0)
    {
        <h3>Покупок нет</h3>
    }
    <ul>
        @foreach(var order in Model.Orders)
        {
            <li>
                Товар: @order.Product.Name<br>
                Количество: @order.Count<br>
            </li>
           
        }
    </ul>
    

    <h1>Чат с поддержкой</h1>
    <ul>
        @foreach(var suppmsg in Model.SuppMessages)
        {
            <li>
                @suppmsg.ShortDescription
                <a asp-action="ChatBox" asp-controller="Support" asp-route-id="@suppmsg.Id">Чат</a>
            </li>
        }
    </ul>
<a asp-action="LogOut" asp-controller="Account" class="btn btn-primary">Выход </a>
</div>