@model User



<div class="content">
    <div class="personalArea">
        <h2 class="pageTitle">Личный кабинет</h2>
        <div class="card personal">

            <h3 class="cardTitle">@Model.Name</h3>

            <div class="personalData">

                <div class="personalDataRow">
                    <h4 class="personalDataTitle">Телефон</h4>
                    <span class="personalDataText">@Model.Number</span>
                </div>

                <div class="personalDataRow">
                    <h4 class="personalDataTitle">Email</h4>
                    <span class="personalDataText">@Model.Email</span>
                </div>

            </div>
        </div>
        <div class="card support">
            <h3 class="cardTitle">Ваши обращения в поддержку</h3>
            @foreach(var msg in Model.SuppMessages)
            {
                <div class="support-card-wrapper">
                <div class="cardDesctription">@msg.ShortDescription</div>
                <div class="cardFooter">
                    <div class="buttonWrapper">
                            <a asp-action="ChatBox" asp-controller="Support" asp-route-id="@msg.Id" asp-route--role="user" class="btn btn-primary btn-block create-account">Открыть Чат</a>
                    </div>
                </div>
                </div>
            }
            
        </div>

        <div class="card history" >
            <h3 class="cardTitle">История заказов</h3>
            @foreach(var order in Model.Orders)
            {
                <div class="historyRow" style=" display:flex;flex-direction:column">
                    <div class="orderNumer">Название продукта:@order.Product.Name</div>
                    <div class="orderNumer">Количество:@order.Count</div>
                    @foreach(var key in order.Key)
                    {
                        <div class="orderSum">Ключ:@key.Key</div>
                    } 
                </div>
            }
            
            
        </div>
        
    </div>
    <div style="width:100px;height:50px; margin:10px">
        <a asp-controller="Account" asp-action="LogOut" class="btn btn-primary btn-block create-account">Выход</a>
    </div>
    
</div>