@model ProductDetailsVM

<div>
    <p>Название продукта: @Model.Product.Name</p>
    <img style="width:100px; height:100px" src="/images/products/@Model.Product.Img" alt="ошибка загрузки" />
    <p>Категория: @Model.Product.Category.Name</p>
    <h3>Описание продукта</h3>
    @Html.Raw(Model.Product.Description)
    <p>Цена: @Model.Product.Price</p>
    
    @if(Model.isContains)
    {
        <a asp-action="RemoveProduct" asp-controller="Cart" asp-route-path="@ViewBag.ReturnUrl">Убрать из корзины</a>
    }
    else
    {
        <a asp-action="AddProduct" asp-controller="Cart" asp-route-id="@Model.Product.Id">Добавить в корзину</a>
    }
   
</div>