@model ProductVM

@{ var total_products = 0; }

@*<div>
    <h2>Кнопки для сортировки категорий</h2>
    <select id="select_category" onchange="display_category(this);">
        <option selected>all</option>
        @foreach(var category in Model.Categories)
        {
            <option value="@category.Name">@category.Name</option>
        }
    </select>
</div>*@
<div>
   
    <div style="display:flex; flex-wrap:wrap">

        @foreach(var product in Model.Products)
        {
            total_products += 1;

            <div class="product-card" style="margin:20px;" name="@product.Category.Name" id="div_@product.Id">
                <div class="product-tumb">
                        <a asp-action="ProductDetails" asp-controller="Product" asp-route-id="@product.Id">
                            <img src="@WebConst.ImageProductPath@product.Img" alt="product">
                        </a>
               
                </div>
                <div class="product-details">
                    <span class="product-catagory">@product.Category.Name</span>
                    <h4><a asp-action="ProductDetails" asp-controller="Product" asp-route-id="@product.Id">@product.Name</a></h4>
                    <div class="product-bottom-details">
                        <div class="product-price">@product.Price руб</div>
                       
                        <div class="product-links">

                            <a href=""><i class="fa fa-shopping-cart"></i></a>
                        </div>
                    </div>
                </div>
            </div>


        }
    </div>
</div>

@*<script>
    function display_category(category)
    {
        var total_products = @total_products;

        if ( !category )
            return null;

        if ( typeof(category.value) === 'string' ) {
            var cur_product;

            for (var i = 1; i <= total_products; i++) {
                cur_product = document.getElementById("div_" + i.toString());

                console.log(cur_product.attributes.name.value, category.value);
                if ( cur_product ) {
                    if (cur_product.attributes.name.value !== category.value)
                        cur_product.hidden = true;
                    else
                        cur_product.hidden = false;
                }
            }
            
        }
            
    }
</script>*@