@model UserDetailsVM


<form method="post">
    
    <label asp-for="User.Id">@Model.User.Id</label>
    <input asp-for="User.Id" hidden/>

    <label asp-for="User.Name">@Model.User.Name</label> 
    
    <label asp-for="User.Email">@Model.User.Email</label>

    <label asp-for="User.Role"></label>
    <select asp-for="User.RoleId" asp-items="@Model.Roles" class="form-control">
            <option disabled selected>--Select Category--</option>
    </select>

    <h2>Заказы</h2>
    @if (Model.User.Orders.Count == 0)
    {
        <h3>Покупок нет</h3>
    }
    <ul>
        @foreach (var order in Model.User.Orders)
        {
            <li>
                Товар: @order.Product.Name<br>
                Количество: @order.Count<br>
            </li>

        }
    </ul>
    <button type="submit">изменить</button>
    <a asp-action="ViewUsers">Назад</a>

</form>



<div style="padding-top:50px;margin: auto;">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">

            <div class="panel panel-default">
                <div class="panel-body">
                    <form class="form-horizontal" method="post" enctype="multipart/form-data">
                        <input asp-for="User.Id" hidden />
                        <div class="form-group">
                            <label asp-for="@Model.User.Name" class="col-md-4 control-label">Имя</label>
                            <div class="col-md-6">

                                <input asp-for="@Model.User.Name"  disabled />
                                
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.User.Email" class="col-md-4 control-label">Почта</label>
                            <div class="col-md-6">

                                <input asp-for="@Model.User.Email"  disabled />
                                
                            </div>
                        </div>
                        <div class="form-group">

                            <label asp-for="@Model.User.RoleId" class="col-md-4 control-label">Роль</label>

                            <div class="col-md-6">
                                <select asp-for="@Model.User.RoleId" asp-items="@Model.Roles" class="form-control">
                                    <option disabled selected>--Роль--</option>
                                </select>
                                
                            </div>
                        </div>
                       

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>